/* Logo Font */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

/* Set up your color variable scheme */
:root {
    --primary-color: #501a83;
    --secondary-color: #3be8ff;
    --dark-color: #292929;
    --white-color: #dff3e4;
}

body {
    color: var(--dark-color);
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {background-color:var(--primary-color);}

footer{background-color:var(--primary-color);}

h1,h2,h3,h4,h5,h6 {color: var(--primary-color);}

footer {
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--secondary-color);
}

.logoFont {
    font-family: 'Oleo Script', cursive;
}

.checklist>li i {
    color: var(--primary-color);
}

code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}